<section>
    <div class="toleft">
        <img class="selfie" src="{% if site.authors[page.author].external-image == true %}{{ site.authors[page.author].picture }}{% else %}{{ site.url }}/{{ site.authors[page.author].picture }}{% endif %}" alt="{{ site.authors[page.author].name }}" alt="author selfie">
    </div>

    <div class="toright">
        <h4 class="name">{{ site.authors[page.author].name }}</h4>
        <p class="bio">{{ site.authors[page.author].bio }}</p>

        <div class="share">
            <!-- Note: Only use three share links if your site width is set to large -->
            <!-- If site width is set to normal, you may choose any two share links -->

            <!-- <a class="reddit" href="https://reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank">
                <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg><span class="icon-reddit">Share</span>
            </a> -->
        </div>
    </div>
</section>
