<footer class="footer-main">
    Sauf mention contraire, tout contenu est sous <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0/">licence libre CC BY SA 4.0</a> ©<a rel="me" href="https://todon.eu/@XavCC">Xavier Coadic</a> {{ site.time | date: '%Y' }} - Suivre et diffuser par RSS <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin- MIT Licence</a> Tuned by <a class="link" href="https://framagit.org/XavCC"> XavCC</a>
    </p>
</footer>
