<svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>

      <symbol id="icon-rss" viewBox="0 0 1024 1024">
        <title>rss</title>
          <path class="path1" d="M122.88 122.88v121.19c362.803 0 656.896 294.195 656.896 656.998h121.293c0-429.773-348.416-778.189-778.189-778.189zM122.88 365.414v121.293c228.813 0 414.362 185.498 414.362 414.413h121.242c0-295.834-239.821-535.706-535.603-535.706zM239.053 668.621c-64.205 0-116.224 52.122-116.224 116.275s52.019 116.224 116.224 116.224 116.173-52.019 116.173-116.224-51.968-116.275-116.173-116.275z"></path>
      </symbol>

      <symbol id="icon-framagit" viewbox="0 0 50 50">
        <title>framagit</title>
          <path class="path1" d="M 38.011719 4 A 1.0001 1.0001 0 0 0 37.048828 4.6914062 L 32.074219 20 L 17.925781 20 L 12.951172 4.6914062 A 1.0001 1.0001 0 0 0 11.064453 4.6484375 L 5.0683594 20.638672 A 1.0001 1.0001 0 0 0 5.0644531 20.648438 L 2.0644531 28.648438 A 1.0001 1.0001 0 0 0 2.4121094 29.808594 L 24.404297 45.802734 L 24.412109 45.808594 A 1.0001 1.0001 0 0 0 24.414062 45.810547 A 1.0001 1.0001 0 0 0 24.455078 45.835938 A 1.0001 1.0001 0 0 0 24.496094 45.863281 A 1.0001 1.0001 0 0 0 24.503906 45.867188 A 1.0001 1.0001 0 0 0 24.509766 45.871094 A 1.0001 1.0001 0 0 0 24.527344 45.880859 A 1.0001 1.0001 0 0 0 24.542969 45.888672 A 1.0001 1.0001 0 0 0 24.607422 45.917969 A 1.0001 1.0001 0 0 0 24.609375 45.919922 A 1.0001 1.0001 0 0 0 24.677734 45.945312 A 1.0001 1.0001 0 0 0 24.681641 45.947266 A 1.0001 1.0001 0 0 0 24.734375 45.962891 A 1.0001 1.0001 0 0 0 24.759766 45.970703 A 1.0001 1.0001 0 0 0 24.761719 45.970703 A 1.0001 1.0001 0 0 0 24.820312 45.982422 A 1.0001 1.0001 0 0 0 24.898438 45.994141 A 1.0001 1.0001 0 0 0 25.021484 45.998047 A 1.0001 1.0001 0 0 0 25.128906 45.990234 A 1.0001 1.0001 0 0 0 25.169922 45.984375 A 1.0001 1.0001 0 0 0 25.179688 45.982422 A 1.0001 1.0001 0 0 0 25.197266 45.980469 A 1.0001 1.0001 0 0 0 25.212891 45.976562 A 1.0001 1.0001 0 0 0 25.242188 45.96875 A 1.0001 1.0001 0 0 0 25.283203 45.957031 A 1.0001 1.0001 0 0 0 25.294922 45.955078 A 1.0001 1.0001 0 0 0 25.306641 45.951172 A 1.0001 1.0001 0 0 0 25.359375 45.931641 A 1.0001 1.0001 0 0 0 25.412109 45.910156 A 1.0001 1.0001 0 0 0 25.416016 45.908203 A 1.0001 1.0001 0 0 0 25.429688 45.902344 A 1.0001 1.0001 0 0 0 25.455078 45.890625 A 1.0001 1.0001 0 0 0 25.517578 45.853516 A 1.0001 1.0001 0 0 0 25.533203 45.84375 A 1.0001 1.0001 0 0 0 25.541016 45.839844 A 1.0001 1.0001 0 0 0 25.587891 45.808594 L 25.599609 45.798828 L 47.587891 29.808594 A 1.0001 1.0001 0 0 0 47.935547 28.648438 L 44.945312 20.675781 A 1.0001 1.0001 0 0 0 44.935547 20.648438 L 38.935547 4.6484375 A 1.0001 1.0001 0 0 0 38.011719 4 z M 8.0664062 22 L 16.472656 22 L 22.328125 40.015625 L 8.0664062 22 z M 33.527344 22 L 41.933594 22 L 27.671875 40.015625 L 33.527344 22 z M 6.3144531 23.007812 L 19.6875 39.900391 L 4.203125 28.638672 L 6.3144531 23.007812 z M 43.685547 23.007812 L 45.796875 28.638672 L 30.3125 39.900391 L 43.685547 23.007812 z"></path>
      </symbol>

      <symbol id="icon-github" viewBox="0 0 1024 1024">
        <title>github</title>
          <path class="path1" d="M674.816 579.021c-36.762 0-66.56 41.318-66.56 92.109 0 50.893 29.798 92.211 66.56 92.211s66.56-41.318 66.56-92.211c-0.051-50.79-29.798-92.109-66.56-92.109zM906.547 339.251c7.629-18.688 7.936-124.877-32.512-226.611 0 0-92.723 10.189-233.011 106.496-29.44-8.192-79.258-12.186-128.973-12.186-49.818 0-99.584 3.994-129.024 12.186-140.339-96.307-233.062-106.496-233.062-106.496-40.397 101.734-39.987 207.923-32.461 226.611-47.514 51.61-76.544 113.613-76.544 198.195 0 367.923 305.306 373.811 382.31 373.811 17.51 0 52.122 0.102 88.781 0.102 36.608 0 71.27-0.102 88.678-0.102 77.107 0 382.31-5.888 382.31-373.811 0-84.582-28.979-146.586-76.493-198.195zM513.434 866.048h-2.867c-193.075 0-343.501-22.989-343.501-210.688 0-45.005 15.872-86.682 53.606-121.293 62.822-57.702 169.216-27.187 289.894-27.187 0.512 0 1.024 0 1.485 0 0.512 0 0.922 0 1.382 0 120.678 0 227.123-30.515 289.997 27.187 37.632 34.611 53.504 76.288 53.504 121.293 0 187.699-150.374 210.688-343.501 210.688zM349.235 579.021c-36.762 0-66.56 41.318-66.56 92.109 0 50.893 29.798 92.211 66.56 92.211 36.813 0 66.611-41.318 66.611-92.211 0-50.79-29.798-92.109-66.611-92.109z"></path>
      </symbol>

      <symbol id="icon-mail" viewBox="0 0 1024 1024">
        <title>mail</title>
          <path class="path1" d="M80.589 270.643c24.986 13.414 371.098 199.373 384 206.285s29.594 10.189 46.387 10.189c16.794 0 33.485-3.277 46.387-10.189s359.014-192.87 384-206.285c25.037-13.466 48.691-65.843 2.765-65.843h-866.253c-45.926 0-22.272 52.378 2.714 65.843zM952.986 383.437c-28.416 14.797-378.214 197.069-395.622 206.182s-29.594 10.189-46.387 10.189-28.979-1.075-46.387-10.189-365.21-191.437-393.626-206.234c-19.968-10.445-19.763 1.792-19.763 11.213s0 373.402 0 373.402c0 21.504 28.979 51.2 51.2 51.2h819.2c22.221 0 51.2-29.696 51.2-51.2 0 0 0-363.93 0-373.35s0.205-21.658-19.814-11.213z"></path>
      </symbol>

      <symbol id="icon-linkedin" viewBox="0 0 1024 1024">
        <title>linkedin</title>
          <path class="path1" d="M256 153.6c0 54.374-36.352 101.171-102.451 101.171-62.208 0-102.349-44.134-102.349-98.509 0-55.808 38.912-105.062 102.4-105.062s101.171 46.592 102.4 102.4zM51.2 972.8v-665.6h204.8v665.6h-204.8z"></path>
            <path class="path2" d="M358.4 534.733c0-79.104-2.611-145.203-5.222-202.291h184.013l9.114 88.218h3.891c25.907-41.523 89.395-102.4 195.686-102.4 129.638 0 226.918 86.784 226.918 273.51v381.030h-204.8v-351.283c0-81.613-31.078-143.872-102.4-143.872-54.374 0-81.613 44.032-95.898 80.333-5.222 13.005-6.502 31.13-6.502 49.306v365.517h-204.8v-438.067z"></path>
         </symbol>

        <symbol id="icon-stackoverflow" viewBox="0 0 878 1024">
          <title>stackoverflow</title>
            <path class="path1" d="M736.571 932.571h-638.857v-274.286h-91.429v365.714h821.714v-365.714h-91.429v274.286zM198.286 633.143l18.857-89.714 447.429 94.286-18.857 89.143zM257.143 419.429l38.286-83.429 414.286 193.714-38.286 82.857zM372 216l58.286-70.286 350.857 293.143-58.286 70.286zM598.857 0l272.571 366.286-73.143 54.857-272.571-366.286zM188.571 840.571v-90.857h457.143v90.857h-457.143z"></path>
        </symbol> 

        <symbol id="icon-mastodon" viewBox="0 0 24 24">
          <path d="m 11.829936,4.3554333 c -2.7149046,0.017273 -5.3264087,0.2459925 -6.8483298,0.789907 0,0 -3.0183567,1.050757 -3.0183567,4.6356607 0,0.820902 -0.020537,1.802507 0.012871,2.843415 0.1096072,3.50584 0.825947,6.960997 4.991265,7.818936 1.9205358,0.395585 3.5694185,0.47833 4.8974105,0.421526 2.408279,-0.1039 3.760254,-0.668735 3.760254,-0.668735 l -0.07955,-1.35973 c 0,0 -1.720928,0.422209 -3.653706,0.370748 -1.9149318,-0.05112 -3.9364374,-0.160631 -4.2461531,-1.99021 -0.028603,-0.160708 -0.042905,-0.332592 -0.042905,-0.513065 0,0 1.8797543,0.357594 4.2620591,0.442531 1.456706,0.052 2.822732,-0.06648 4.210219,-0.19532 2.660788,-0.24725 4.977536,-1.522981 5.268715,-2.688717 0.458797,-1.836346 0.421004,-4.481379 0.421004,-4.481379 0,-3.5849037 -3.018177,-4.6356607 -3.018177,-4.6356607 C 17.224751,4.6014258 14.611524,4.372706 11.896617,4.3554333 Z m -3.0725237,2.801123 c 1.1308588,0 1.9871457,0.3382828 2.5533747,1.0148594 l 0.550434,0.7179835 0.550614,-0.7179835 c 0.566114,-0.6765766 1.422402,-1.0148594 2.553374,-1.0148594 0.977316,0 1.764847,0.2673664 2.366202,0.7889334 0.582933,0.5215667 0.873114,1.226462 0.873114,2.1136053 v 4.340734 h -2.209958 v -4.213023 c 0,-0.8881244 -0.480033,-1.3390028 -1.440531,-1.3390028 -1.061982,0 -1.594273,0.5348163 -1.594273,1.5921948 v 2.306006 h -2.196905 v -2.306006 c 0,-1.0573785 -0.532294,-1.5921948 -1.5942748,-1.5921948 -0.9604962,0 -1.4407086,0.4508784 -1.4407086,1.3390028 v 4.213023 H 5.5179169 v -4.340734 c 0,-0.8871433 0.2902443,-1.5920386 0.8732925,-2.1136053 0.6012402,-0.521567 1.3887732,-0.7889334 2.3662029,-0.7889334 z"></path>
          </symbol>

  </defs>
</svg>
