<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projets</a>
                </li>
            {% endif %}
        {% endif %}
        
        {% if site.projects == true %}
            {% if page.title != "Ateliers" %}
                <li class="item">
                    <a class="link" href="https://notecc.kaouenn-noz.fr/atelier:start">Ateliers</a>
                </li>
            {% endif %}
        {% endif %}
        
        {% if site.projects == true %}
            {% if page.title != "Ateliers" %}
                <li class="item">
                    <a class="link" href="https://notecc.kaouenn-noz.fr/norae:start">Norae</a>
                </li>
            {% endif %}
        {% endif %}
        
        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
