<div class="social-links">
    
    {% if site.mastodon %}
        <a class="link" data-title="todon.eu/@{{ site.mastodon }}" rel="me" href="https://todon.eu/@{{ site.mastodon }}" target="_blank">
            <svg class="icon icon-mastodon"><use xlink:href="#icon-mastodon"></use></svg>
        </a>
    {% endif %}
    
    {% if site.framagit %}
       <a class="link" data-title="framagit.org/{{ site.framagit }}" href="https://framagit.org/{{ site.framagit }}" target="_blank">
           <svg class="icon icon-framagit"><use xlink:href="#icon-framagit"></use></svg>
       </a> 
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}
    
    {% if site.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="https://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank">
            <svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
</div>
